/* DropdownMenu.css */
/* Assicurati che il contenitore sia posizionato relativamente */
.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000; 
  display: block; 
}



.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.delete-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.add-option {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}


