:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  appearance: none;
  background-color: #e78809; /* Colore di sfondo arancione */
  border: none; /* Nessun bordo */
  border-radius: 0.625em;
  box-sizing: border-box;
  color: white; /* Colore del testo bianco */
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0.5em;
  min-height: 2.5em;
  min-width: 0;
  outline: none;
  padding: 0.8em 2em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
  background-color: #f5a623; /* Colore arancione più chiaro per i bottoni disabilitati */
  color: #7a7a7a; /* Colore testo grigio per i bottoni disabilitati */
}

button:hover {
  color: white; /* Colore del testo bianco anche al passaggio del mouse */
  background-color: orange; /* Colore di sfondo arancione più scuro al passaggio del mouse */
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Stile generico per l'elemento progress */
progress {
  width: 100%;
  height: 20px;
}

/* Stili specifici per Webkit (Chrome, Safari) */
progress::-webkit-progress-bar {
  background-color: #e7c28a; /* Colore dello sfondo della barra */
}

progress::-webkit-progress-value {
  background-color: #333; /* Colore della barra di progressione */
}

/* Stili specifici per Firefox */
progress::-moz-progress-bar {
  background-color: #333; /* Colore della barra di progressione */
}

/* Stili specifici per Internet Explorer e Edge */
progress::-ms-fill {
  background-color: #333; /* Colore della barra di progressione */
}
