.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .right {
    display: flex;
  }
  
  .right .button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 5px;
  }
  
  .right .button:hover {
    background-color: #777;
  }
  