.notification-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.notification-list-column {}

.notification-list {
  border: 1px solid #ccc;
  padding: 20px;
}

.notification {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  padding-left: 2em;
  margin-bottom: 10px;
  position: relative;
}

.notification:hover {
  background-color: #f0f0f0;
}

.notification.unread {
  font-weight: bold;
}

.notification .bold {
  font-weight: bold;
}

.unread-dot {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
}

.notification-detail-column {}

.notification-detail {
  border: 1px solid #ccc;
  padding: 20px;
}

.notification-detail h2 {
  margin-top: 0;
}

.notification-detail p {
  margin-bottom: 20px;
}

.notification-detail button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.notification-detail button:hover {
  background-color: #d32f2f;
}
