/* src\UserStory.css */
progress {
    width: 45%;
    height: 20px;
    color: rgb(7, 7, 112);
}

div .UserStoryDiv{
    width: 80%;
    margin: auto;
    padding: 2em;
}

div .textSearch{
    float: right;
    height: 3em;
}
