.progress-user-story {
    width: 45%;
    height: 20px;
}
div .UserStoryDiv{
    width: 80%;
    margin: auto;
    padding: 2em;
}

div .textSearch{
    float: right;
    height: 3em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-active {
    pointer-events: none;
  }
  
  .UserStoryDiv.overlay-active {
    pointer-events: none;
  }