.card {
    width: 50%;
   
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
   
    
    
    margin: auto;
  }
  
  .card-details {
    color: #e78809;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
    overflow:'hidden'; 
    text-overflow:  'ellipsis';
   
    max-width: 500px;
  }
  
 .divBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
 }
  
  .text-body {
    color: rgb(134, 134, 134);
    width: '100%';
    word-wrap: break-word;
    
  }
  
  /*Text*/
  .text-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
 
